{% extends "user/layout2.html" %} {% block head_content %}
<!-- Display flash messages -->
{% with messages=get_flashed_messages(with_categories=true) %} {% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }}">
  <strong>{{ message }}</strong>
</div>
{% endfor %} {% endif %} {% endwith %}
<div class="d-inline-flex align-items-end gap-3">
  <img
    src="{{ url_for('static', filename='images/styles/default_img.png') }}"
    class="border border-5 rounded-circle position-relative"
    alt="..."
    style="height: 100px" />
  <h3>User's name</h3>
</div>
<div
  class="my-3"
  style="
    width: 100%;
    height: 3px;
    background-color: black;
    border-radius: 20px;
  "></div>
{% endblock head_content %} {% block content %}

<div class="d-flex justify-content-between mb-2">
  <button class="btn btn-success">Filter</button>

  <a href="/user/dashboard" class="">
    <button class="btn btn-success">Dashboard</button>
  </a>
  <a href="/user/update-profile" class="">
    <button class="btn btn-success">Update Profile</button>
  </a>
  <a href="/user/change-password" class="">
    <button class="btn btn-success">Change Password</button>
  </a>
  <a href="/user/logout" class="">
    <button class="btn btn-danger">Logout</button>
  </a>
  <a href="/scan">
    <button class="btn btn-success">Add New Session +</button>
  </a>
</div>
<br />
<div class="container-fluid m-0 p-0">
  <div>
    <div class="mb-3 session-batches-container">
      <div class="row session-batches p-3 fw-bold fs-5">
        <div class="col">Title</div>
        <div class="col">Date</div>
        <div class="col">Time</div>
        <div class="col">Bean type</div>
        <div class="col">Farm</div>
      </div>
    </div>
  </div>

  <div class="mb-4">
    <div class="mb-3 session-batches-container">
      <div
        class="row session-batches p-3"
        data-bs-toggle="collapse"
        href="#collapseExample1"
        role="button"
        aria-expanded="false"
        aria-controls="collapseExample1">
        <div class="col">Session Batch Title</div>
        <div class="col">12-12-24</div>
        <div class="col">23:30 pm</div>
        <div class="col">Robusta</div>
        <div class="col">DLSU FARM</div>
      </div>
    </div>

    <div class="collapse" id="collapseExample1">
      <div class="card card-body rounded-4">
        <div class="text-center">
          <a href="#">
            <div>View Scans</div>
          </a>
          <br />
          <a href="#">
            <div>Add Scans</div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="mb-4">
    <div class="mb-3 session-batches-container">
      <div
        class="row session-batches p-3"
        data-bs-toggle="collapse"
        href="#collapseExample2"
        role="button"
        aria-expanded="false"
        aria-controls="collapseExample2">
        <div class="col">Session Batch Title</div>
        <div class="col">12-12-24</div>
        <div class="col">23:30 pm</div>
        <div class="col">Robusta</div>
        <div class="col">DLSU FARM</div>
      </div>
    </div>

    <div class="collapse" id="collapseExample2">
      <div class="card card-body rounded-4">
        <div class="text-center">
          <a href="#">
            <div>View Scans</div>
          </a>
          <br />
          <a href="#">
            <div>Add Scans</div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="mb-4">
    <div class="mb-3 session-batches-container">
      <div
        class="row session-batches p-3"
        data-bs-toggle="collapse"
        href="#collapseExample3"
        role="button"
        aria-expanded="false"
        aria-controls="collapseExample3">
        <div class="col">Session Batch Title</div>
        <div class="col">12-12-24</div>
        <div class="col">23:30 pm</div>
        <div class="col">Robusta</div>
        <div class="col">DLSU FARM</div>
      </div>
    </div>

    <div class="collapse" id="collapseExample3">
      <div class="card card-body rounded-4">
        <div class="text-center">
          <a href="#">
            <div>View Scans</div>
          </a>
          <br />
          <a href="#">
            <div>Add Scans</div>
          </a>
        </div>
      </div>
    </div>
  </div>

  {#
  <table
    class="table flex-wrap text-wrap custom-bordered table-data text-center">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col" style="width: 100px">Session No.</th>
        <th scope="col">Type</th>
        <th scope="col">Date</th>
        <th scope="col">Time</th>
        <th scope="col" style="min-width: 150px">Defects Detected</th>
        <th scope="col">Grade Quality</th>
        <th scope="col">Farm</th>
        <!-- <th scope="col" style="width: 50px;"></th> -->
      </tr>
    </thead>
    <tbody style="border-top: 0">
      <tr class="">
        <td class="text-center align-content-center">
          <div class="">
            <i class="material-icons" style="font-size: 23px; color: red"
              >delete</i
            >
          </div>
        </td>
        <td>1</td>
        <td>Mark</td>
        <td>Mark</td>
        <td>Otto lorem100</td>
        <td>
          <ul>
            <li>defect defect</li>
            <li>defect defect</li>
            <li>defect defect</li>
          </ul>
        </td>
        <td>@mdo</td>
        <td>@mdo</td>
      </tr>
    </tbody>
  </table>
  #}
</div>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
  crossorigin="anonymous"></script>

{% endblock content %}
